{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="{% static 'speechdb/js/header.js' %}"></script>
    <link href="{% static 'speechdb/output.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'speechdb/dices.png' %}"/>

    <title>{% block title %}DICES{% endblock %}</title>
  </head>

  <body class="d-flex flex-column vh-100">
  
  <header>
    <nav class="tw-bg-slate-400 dark:tw-bg-slate-700 px-4 lg:px-6 py-2">
      <div class="tw-flex tw-flex-wrap tw-justify-between tw-items-center mx-auto tw-max-w-screen-xl">
          <a href="/" class="tw-flex tw-items-center">
              <img src="/static/speechdb/dices-logo.png" alt="DICES logo" width="100" height="100" class="tw-pr-4">
              <span class="tw-hidden sm:tw-block tw-text-xl tw-font-semibold tw-whitespace-nowrap dark:tw-text-white">Digital Initiative for Classics: Epic Speeches</span>
              <span class="tw-block sm:tw-hidden tw-text-xl tw-font-semibold tw-whitespace-nowrap dark:tw-text-white">DICES</span>
          </a>
          <div class="tw-flex tw-items-center lg:tw-order-2">
              <button data-collapse-toggle="mobile-menu-2" type="button" class="tw-inline-flex tw-ml-1 tw-text-sm tw-text-gray-500 tw-rounded-lg lg:tw-hidden hover:tw-bg-gray-100 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-gray-200 dark:tw-text-gray-400 dark:hover:tw-bg-gray-700 dark:focus:tw-ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false" onclick="toggleMobileMenu()">
                  <span class="tw-sr-only">Open main menu</span>
                  <svg class="tw-w-6 tw-h-6" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
              </button>
          </div>
          <div class="tw-hidden tw-w-full lg:tw-flex lg:tw-w-auto lg:tw-order-1" id="mobile-menu-2">
              <ul class="tw-flex tw-flex-col tw-font-medium lg:tw-flex-row lg:tw-space-x-8 lg:tw-mt-0">
                  <li>
                      <a href="/" class="tw-block py-2 pr-4 pl-3 tw-text-gray-700 tw-border-b tw-border-gray-100 lg:hover:tw-text-black lg:tw-p-0 dark:tw-text-gray-400 lg:dark:hover:tw-text-white dark:hover:tw-text-white dark:tw-border-gray-700 tw-transition-all tw-duration-300 tw-ease-in-out" aria-current="page">Home</a>
                  </li>
                  <li>
                      <a href="/about" class="tw-block py-2 pr-4 pl-3 tw-text-gray-700 tw-border-b tw-border-gray-100 lg:hover:tw-text-black lg:tw-p-0 dark:tw-text-gray-400 lg:dark:hover:tw-text-white dark:hover:tw-text-white dark:tw-border-gray-700  tw-transition-all tw-duration-300 tw-ease-in-out">About</a>
                  </li>
                  <li class="tw-relative">
                      <button id="databaseButton" onclick="toggleDatabaseMenu()" class="tw-w-full tw-text-left tw-block py-2 pr-4 pl-3 tw-text-gray-700 tw-border-b tw-border-gray-100 lg:tw-border-0 lg:hover:tw-text-black lg:tw-p-0 dark:tw-text-gray-400 lg:dark:hover:tw-text-white dark:hover:tw-text-white dark:tw-border-gray-700 tw-flex tw-items-center tw-justify-between tw-transition-all tw-duration-300 tw-ease-in-out">
                          Search Database 
                          <svg class="tw-ml-2 tw-w-4 tw-h-4" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"></path></svg>
                      </button>
                      <ul id="database-menu-small" class="tw-hidden lg:tw-hidden tw-bg-slate-300 dark:tw-bg-slate-600 tw-flex tw-flex-col tw-mt-1 tw-font-medium tw-transition-all tw-duration-300 tw-ease-in-out">
                          <li><a href="/app/speeches/" class="tw-block py-2 px-3 tw-text-gray-700 dark:tw-text-gray-300 hover:tw-bg-gray-50 dark:hover:tw-bg-gray-800 tw-transition-all tw-duration-300 tw-ease-in-out">Speeches</a></li>
                          <li><a href="/app/clusters/" class="tw-block py-2 px-3 tw-text-gray-700 dark:tw-text-gray-300 hover:tw-bg-gray-50 dark:hover:tw-bg-gray-800 tw-transition-all tw-duration-300 tw-ease-in-out">Speech Clusters</a></li>
                          <li><a href="/app/characters/" class="tw-block py-2 px-3 tw-text-gray-700 dark:tw-text-gray-300 hover:tw-bg-gray-50 dark:hover:tw-bg-gray-800 tw-transition-all tw-duration-300 tw-ease-in-out">Characters</a></li>
                          <li><a href="/app/instances/" class="tw-block py-2 px-3 tw-text-gray-700 dark:tw-text-gray-300 hover:tw-bg-gray-50 dark:hover:tw-bg-gray-800 tw-transition-all tw-duration-300 tw-ease-in-out">Character Instances</a></li>
                          <li><a href="/app/authors/" class="tw-block py-2 px-3 tw-text-gray-700 dark:tw-text-gray-300 hover:tw-bg-gray-50 dark:hover:tw-bg-gray-800 tw-transition-all tw-duration-300 tw-ease-in-out">Authors</a></li>
                          <li><a href="/app/works/" class="tw-block py-2 px-3 tw-text-gray-700 dark:tw-text-gray-300 hover:tw-bg-gray-50 dark:hover:tw-bg-gray-800 tw-transition-all tw-duration-300 tw-ease-in-out">Works</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
    <div id="database-menu-large" class="tw-flex tw-hidden tw-drop-shadow-lg justify-content-center align-items-center tw-bg-slate-300 dark:tw-bg-slate-600 w-100">
        <ul class="font-medium justify-center tw-bg-slate-300 dark:tw-bg-slate-600 dark:tw-text-white d-flex flex-row tw-divide-x">
            <a class="hover:tw-bg-gray-50 dark:hover:tw-bg-gray-800 tw-transition-all tw-duration-300 tw-ease-in-out" href="{% url 'app:speeches' %}"><li class="tw-block px-5 py-2 tw-text-gray-700 dark:tw-text-gray-300">Speeches</li></a>
            <a class="hover:tw-bg-gray-50 dark:hover:tw-bg-gray-800 tw-transition-all tw-duration-300 tw-ease-in-out"  href="{% url 'app:clusters' %}"><li class="tw-block px-5 py-2 tw-text-gray-700 dark:tw-text-gray-300">Speech Clusters</li></a>
            <a class="hover:tw-bg-gray-50 dark:hover:tw-bg-gray-800 tw-transition-all tw-duration-300 tw-ease-in-out"  href="{% url 'app:characters' %}"><li class="tw-block px-5 py-2 tw-text-gray-700 dark:tw-text-gray-300">Characters</li></a>
            <a class="hover:tw-bg-gray-50 dark:hover:tw-bg-gray-800 tw-transition-all tw-duration-300 tw-ease-in-out"  href="{% url 'app:instances' %}"><li class="tw-block px-5 py-2 tw-text-gray-700 dark:tw-text-gray-300">Character Instances</li></a>
            <a class="hover:tw-bg-gray-50 dark:hover:tw-bg-gray-800 tw-transition-all tw-duration-300 tw-ease-in-out"  href="{% url 'app:authors' %}"><li class="tw-block px-5 py-2 tw-text-gray-700 dark:tw-text-gray-300">Authors</li></a>
            <a class="hover:tw-bg-gray-50 dark:hover:tw-bg-gray-800 tw-transition-all tw-duration-300 tw-ease-in-out"  href="{% url 'app:works' %}"><li class="tw-block px-5 py-2 tw-text-gray-700 dark:tw-text-gray-300">Works</li></a>
        </ul>
    </div>
  </header>

    <div id="content" class="w-100 py-3 px-2">
    {% block body %}
    {% endblock %}
    </div>

    <!-- Back to top button -->
    <button
        type="button"
        class="btn btn-primary btn-floating btn-lg tw-fixed tw-hidden shadow rounded-circle"
        id="btn-back-to-top"
        style="bottom: 25px; right: 20px;"
        >
    <i class="fas fa-arrow-up"></i>
    </button>

    <footer class="mt-auto w-100 tw-bg-slate-400 dark:tw-bg-slate-700 shadow dark:tw-bg-gray-800">
    <div class="w-100 mx-auto tw-max-w-screen-xl p-4 md:tw-flex md:tw-items-center md:tw-justify-between">
        <span class="tw-text-sm tw-text-gray-700 sm:tw-text-center dark:tw-text-gray-400">© 2024 <a href="https://www.dices.uni-rostock.de/en/about-dices/" class="hover:tw-underline">DICES</a>. All Rights Reserved.</span>
        <ul class="d-flex flex-wrap align-items-center tw-text-sm tw-font-medium tw-text-gray-500 dark:tw-text-gray-400 sm:tw-mt-0">
            <li>
                <a href="https://opensource.org/license/mit" class="hover:tw-underline me-4 md:me-6">MIT License</a>
            </li>
            <li>
                <a href="https://github.com/cwf2/dices" class="hover:tw-underline">GitHub</a>
            </li>
        </ul>
    </div>
    </footer>

    <script>
      let mybutton = document.getElementById("btn-back-to-top");

      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 50 ||
          document.documentElement.scrollTop > 50
        ) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      mybutton.addEventListener("click", backToTop);

      function backToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
