{% extends "speechdb/base_nosidebar.html" %}

{% block title %}Character Detail{% endblock %}

{% block content %}
<div class="flex items-center justify-center">
<div style="border: 1px darkgrey solid; border-radius: 1rem;" class="bg-gray-300 w-4/5 py-5 px-2 mb-5">
  <div class="w-full flex flex-col items-center justify-center">
    <div class="w-4/5 flex flex-col">
      <div class="my-2"><h1 style="font-size: 1.5rem">{{ char.name }}</h1></div>
      <hr></hr>
        <div class="my-2">
        <table class="table my-2 ml-3 [&>tbody>*:nth-child(odd)]:bg-transparent [&>tbody>*:nth-child(even)]:bg-gray-200">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td>Name</td>
              <td>{{ char.name}}</td>
            </tr>
            <tr>
              <td>Being</td>
              <td>{{ char.being }}</td>
            </tr>
            <tr>
              <td>Gender</td>
              <td>{{ char.gender }}</td>
            </tr>
            <tr>
              <td>Number</td>
              <td>{{ char.number }}</td>
            </tr>
            <tr>
              <td>Speeches as Speaker:</td>
              <td>
                {{ char.get_speeches.count }}
                <a style="margin-left: 1em" href="{% url 'app:speeches' %}?spkr_id={{ char.id }}">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>Speeches as Addressee:</td>
              <td>
                {{ char.get_addresses.count }}
                <a style="margin-left: 1em" href="{% url 'app:speeches' %}?addr_id={{ char.id }}">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>MANTO</td>
              <td>
                {% if char.manto %}
                {{ char.manto }}
                <a style="margin-left:0.5em" href="https://resource.manto.unh.edu/{{ char.manto }}">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>                  
                </a>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>WikiData</td>
              <td>
                {% if char.wd %}
                {{ char.wd }}
                <a style="margin-left:0.5em" href="https://www.wikidata.org/wiki/{{ char.wd }}">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>ToposText</td>
              <td>
                {% if char.tt %}
                {{ char.tt }}
                <a style="margin-left:0.5em" href="https://topostext.org/people/{{ char.tt }}">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                {% endif %}
              </td>
            </tr>
            
          </tbody>
      </table>
    </div>
  </div>    
  <div class="w-4/5">
    <div class="my-2"><h1 style="font-size: 1.5rem">Instances</h1></div>
    <hr></hr>
      <div class="my-2">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Context</th>
              <th>Speaker</th>
              <th>Addressee</th>
            </tr>
          </thead>
          <tbody>
            {% for inst in char.instances.all %}
            <tr>
              <td>
                {{ inst.name }}
                <a href="{% url 'app:instance_detail' inst.pk %}">
                  <i class="fa-solid fa-circle-info"></i>
                </a>
              </td>
              <td>{{ inst.context }}</td>
              <td>
                {{ inst.speeches.count }}
                <a style="margin-left: 1em" href="{% url 'app:speeches' %}?spkr_inst_id={{ inst.id }}">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </td>
              <td>
                {{ inst.addresses.count }}
                <a style="margin-left: 1em" href="{% url 'app:speeches' %}?addr_inst_id={{ inst.id }}">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}