{% extends "speechdb/base_nosidebar.html" %}

{% block title %}Character Instance Detail{% endblock %}
  <div style="margin-top:1em;"><strong>Detail</strong></div>

{% block content %}
<div class="d-flex justify-content-center">
<div class="w-75 py-5 mb-5">
<div class="w-100 d-flex flex-column align-items-center justify-content-center">
    <div class="w-4/5 d-flex flex-column">
        <div class="my-2"><h1 style="font-size: 1.5rem">Character Instance Detail</h1></div>
        <hr>
        <div class="my-2">
            <table>
                <tbody>
                    <tr>
                        <th>
                          {{ inst.name }}                          
                          {% if inst.char %}
                            {% if inst.char.name != inst.name %}
                            ({{ inst.char.name }})
                            {% endif %}
                          {% endif  %}
                        </th>
                    </tr>
                    <tr>
                        <td>{{ inst.context }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="w-4/5">
        <h4 class="my-2" style="font-size: 1.25rem">Attributes</h4>
        <hr>
        <div class="">
            <table class="table my-2 ml-3 table-striped">
                <thead>
                    <tr>
                        <td></td>
                        <th>Instance</th>
                        <th>Character</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{inst.name}}</td>
                        <td>
                          {% if inst.char %}
                          {{inst.char.name}}
                            <a style="margin-left: 0.5em" href="{% url 'app:character_detail' inst.char.pk %}">
                              <i class="fa-solid fa-circle-info"></i>
                            </a>                          
                          {% else %}
                          —
                          {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>{{inst.gender}}</td>
                        <td>
                          {% if inst.char %}
                          {{inst.char.gender}}
                          {% else %}
                          —
                          {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Number</td>
                        <td>{{inst.number}}</td>
                        <td>
                          {% if inst.char %}                          
                          {{inst.char.number}}
                          {% else %}
                          —
                          {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Speeches as Speaker:</td>
                        <td>
                            {{ inst.speeches.count }}
                            <a style="margin-left: 1em" id="btn_spkr" href="{% url 'app:speeches' %}?spkr_inst_id={{ inst.pk }}">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                        </td>
                        <td>
                            {% if inst.char %}
                            {{ inst.speeches_by_char.count }}
                            <a style="margin-left: 1em" id="btn_spkr" href="{% url 'app:speeches' %}?spkr_id={{ inst.char.pk }}">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                          {% else %}
                          —
                          {% endif %}
                      </td>
                  </tr>
                  <tr>
                      <td>Speeches as Addressee:</td>
                      <td>
                          {{ inst.addresses.count }}
                          <a style="margin-left: 1em" id="btn_addr" href="{% url 'app:speeches' %}?addr_inst_id={{ inst.pk }}">
                                <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                      </td>
                      <td>
                          {% if inst.char %}                        
                          {{ inst.addresses_by_char.count }}
                          <a style="margin-left: 1em" id="btn_addr" href="{% url 'app:speeches' %}?addr_id={{ inst.char.pk }}">
                                <i class="fa-solid fa-magnifying-glass"></i>                              
                          </a>
                          {% else %}
                          —
                          {% endif %}
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
