{% extends "speechdb/base.html" %}

{% block title %}DICES{% endblock %}
{% block sidebar_title %}DICES{% endblock %}

{% block body %}
<div class="d-flex align-items-center justify-content-center">
<div class="w-75">

<div class="d-flex align-items-center justify-content-center mb-2">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <div class="mx-3 my-2 d-flex flex-column align-items-center justify-content-center mx-4">
                <a href="{% url 'app:speeches' %}" class="d-flex flex-column align-items-center justify-content-center w-100 h-100 text-decoration-none">
                    <div class="display-6 text-primary font-weight-bold">{{ speeches.count }}</div>
                    <div class="text-secondary">Speeches</div>
                </a>
            </div>
            <div class="mx-3 my-2 d-flex flex-column align-items-center justify-content-center mx-4">
                <a href="{% url 'app:characters' %}" class="d-flex flex-column align-items-center justify-content-center w-100 h-100 text-decoration-none">
                    <div class="display-6 text-primary font-weight-bold">{{ characters.count }}</div>
                    <div class="text-secondary">Characters</div>
                </a>
            </div>
            <div class="mx-3 my-2 d-flex flex-column align-items-center justify-content-center mx-4">
                <a href="{% url 'app:works' %}" class="d-flex flex-column align-items-center justify-content-center w-100 h-100 text-decoration-none">
                    <div class="display-6 text-primary font-weight-bold">{{ works.count }}</div>
                    <div class="text-secondary">Texts</div>
                </a>
            </div>
        </div>
    </div>

    <hr class="py-2">

  <h5>A Database of Direct Speech in Greek and Latin Epic from Homer to Late Antiquity</h5>
    
  <div class="my-4">
    <p><strong>Principal Investigators</strong></p>
    <ul style="list-style-type:none; margin:0; padding:0">
      <li>Christopher Forstall, Mount Allison University, Canada</li>
      <li>Simone Finkmann, University of Rostock, Germany</li>
      <li>Berenice Verhelst, University of Amsterdam, Netherlands</li>
    </ul>
  </div>

  <div style="margin: 2em 0em">
    <p><strong>Student Research Assistants</strong></p>
    <ul style="list-style-type:none; margin:0; padding:0">
      <li>Jule Andreeßen</li>
      <li>Yonathan Bernhardt</li>
      <li>Mathijs Clement</li>
      <li>Sara Didriksen</li>
      <li>Dawson Fraser</li>
      <li>Merle Kallet</li>
      <li>Marie Kisser</li>      
      <li>Anne Lautenschlager</li>
      <li>Friederike Münch</li>
      <li>Wyatt Stagg</li>
      <li>Annik Tiede</li>
      <li>Vic Vandendriessche</li>
      <li>Jarno Vercamer</li>
      <li>Ava Waugh</li>
    </ul>
  </div>
    
  <div style="margin: 2em 0em">
    <p><strong>Funding</strong></p>
    <p>This work is supported by</p>
    <ul>
      <li>
        a President's Research and Creative Activity
        grant from Mount Allison University
      </li>
      <li>
        the <a href="http://jeacrakefoundation.org/">J.E.A. Crake Foundation</a>
      </li>
      <li>
        a research grant from the <a href="https://www.inf.uni-rostock.de/wissen-kultur-transformation/">
        Interdisciplinary Faculty (Department WKT: Wissen-Kultur-Transformation)</a>
        at the University of Rostock
      </li>
      <li>
        the European Social Fund (ESF) for Germany
      </li>
      <li>
        the Research Foundation Flanders (FWO, grant no. 12N6819N)
      </li>
      <li>
        the Canadian Social Sciences and Humanities Research Council
        (Insight Development Grant no. 430-2021-00977)
      </li>
    </ul>
  </div>
</div>
</div>
{% endblock %}